body {
    font-family: 'Playfair Display', serif;
    /* overflow: hidden; */
    height: 100%;
    width: 100%;
}

.brand-logo {
    margin-left: 10px;
}

.pulse {
    font-size: 20px;
}

.infoRow {
    margin: 60px 10px 10px 10px;
    text-align: center;
}

.drknow {
    width: 80%;
}

.intro {
    text-align: center;
    font-size: 25px;
}

.intro-two {
    margin-top: -10px;
    margin-bottom: 0;
    font-size: 20px;
    margin-top: 15px;
    font-family: 'Libre Franklin', sans-serif;
}

.submit {
    margin-top: 20px;
}

.btn {
    background-color: #0885a9;
}

.loading {
    margin-top: 100%;
}

/* .info p{
    text-align: center;
} */

.explore-image {
    width: 80%;
    margin-top: 2%;
}

.drknow-2 {
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    position: relative;
}




/* to test Advisor ID */
#advisor {
    border: solid red 1px;
    opacity: 0.8; 
    color: red;
    text-align: center;
    border-radius: 10px;
    font-family: 'Playfair Display', serif;
}

.drknow2 {
    width: 100%;
    margin-left: 50%;
}

.country-selection {
    margin-top: 50px;
    font-family: 'Playfair Display', serif;
}
/* Classes to add depending on if advisoryText is good/caution/bad */
#advisorWarning {
    border: solid red 1px;
    opacity: 0.8; 
    color: red;
    text-align: center;
    border-radius: 10px;
}

#advisorCaution {
    border: solid yellow 1px;
    opacity: 0.8; 
    color: yellow;
    text-align: center;
    border-radius: 10px;
}

#advisorClear {
    border: solid green 1px;
    opacity: 0.8; 
    color: green;
    text-align: center;
    border-radius: 10px;
}

.welcome-screen {
    margin-top: 12%;
}

.intro {
    font-size: 46px;
}

.input-field {
    margin-top: 50px;
}

.submit {
    margin-top: 60px;
}

.title-font {
    font-family: 'Playfair Display', serif;
}

.centering-ul{
    text-align: center;
    font-size: 20px;
}

.tabs .tab a {
    color: #0885a9;
}

.tabs .tab a.active {
    color: #0885a9;
}

.tabs .tab a:hover {
    color: #0885a9a9;
}

