body {
    font-family: didot;
    /* overflow: hidden; */
    height: 100%;
    width: 100%;
}

.brand-logo {
    margin-left: 10px;
}

.pulse {
    font-size: 20px;
}

.infoRow {
    margin: 60px 10px 10px 10px;
    text-align: center;
}

.drknow {
    width: 100%;
    position: relative;
}

.intro {
    font-size: 50px;
}

.intro-two {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-field {
    margin-left: 20px;
}

.submit {
    margin-top: 20px;
}

.btn {
    background-color: #0885a9;
}

.loading {
    margin-top: 100%;
}

/* .info p{
    text-align: center;
} */

.explore-image {
    width: 90%;
    margin-top: 2%;
}

.drknow-2 {
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    position: relative;
}

#testtitle {
    border-bottom: 2px solid;
    padding-bottom: 20px;
    font-size: 18px;
}

/* to test Advisor ID */
#advisor {
    border: solid red 1px;
    opacity: 0.8; 
    color: red;
    text-align: center;
    border-radius: 10px;
}

/* Classes to add depending on if advisoryText is good/caution/bad */
.warning {
    border: solid red 1px;
    opacity: 0.8; 
    color: red;
    text-align: center;
    border-radius: 10px;
}

.caution {
    border: solid yellow 1px;
    opacity: 0.8; 
    color: yellow;
    text-align: center;
    border-radius: 10px;
}

.clear {
    border: solid green 1px;
    opacity: 0.8; 
    color: green;
    text-align: center;
    border-radius: 10px;
}


