body {
    font-family: didot;
}

.brand-logo {
    margin-left: 10px;
}

.pulse {
    font-size: 20px;
}

.drknow {
    width: 40%;
    margin-left: 30%;
    position: relative;
}

.intro {
    text-align: center;
    font-size: 25px;
}

.intro-two {
    margin-top: -10px;
    margin-bottom: 0;
}

.submit {
    margin-top: 20px;
}

.btn {
    background-color: #0885a9;
}

.loading {
    margin-top: 100%;
}

.info p{
    text-align: center;
}

.explore-image {
    width: 90%;
    margin-top: 2%;
}

.drknow-2 {
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    position: relative;
}

#testtitle {
    border-bottom: 2px solid;
    padding-bottom: 20px;
    font-size: 18px;
}

#advisor {
    border: solid red 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

